.description {
  padding: 3rem;
  background-color: #fff;
  box-shadow: var(--light-shadow);
  ////////////////////////////////////Queries/////////////////////////////
  // 930px
  @media only screen and (max-width: $laptop-bp) {
    padding: 2rem;
  }
}
